@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

.webtune-container {
  font-family: 'Outfit', sans-serif;
  display: flex;
  align-items: center; /* Align items vertically */
  justify-content: space-between; /* Spacing between main content and image */
  padding: 0 100px; /* Side padding */
  height: 100vh;
  background-color: #0E0F2E;
  color: white;
}

/* Main content and image wrapper */
.webtune-content-wrapper {
  display: flex;
  align-items: center; /* Align items vertically */
  justify-content: flex-start; /* Align content to the start */
  width: 100%; /* Take the full width */
}

/* Container for text and button */
.webtune-text-container {
  max-width: 600px; /* Restrict the maximum width of the content */
  padding-right: 50px; /* Spacing between text and image */
}

/* Title styles with increased font size */
.webtune-title {
  margin-bottom: 1rem;
  font-size: 2.5rem; /* This will make the title larger */
}

/* Description styles with increased font size */
.webtune-description {
  margin-bottom: 1rem;
  font-size: 1.2rem; /* This will make the description text larger */
}

/* Button styles */
.btn-get-started {
  background-color: #8080D7;
  border-color: #8080D7;
  color: #ffffff;
  padding: 0.5rem 2rem;
}

.btn-get-started:hover {
  background-color: #6c6fa5;
  border-color: #6c6fa5;
}

/* Image container */
.webtune-image-container {
  width: 50%; /* Take up half of the wrapper's width */
  max-width: 450px; /* Maximum width of the image container */
  margin-left:375px;
}

/* Image styles */
.webtune-image-container img {
  width: 100%; /* Make the image fill the container */
  height: auto; /* Maintain aspect ratio */
}



/* Remove default margins */
body, h1, p {
  margin: 0;
}
