/* App.css */

body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
  color: #333;
}

.navbar {
  margin-bottom: 20px;
}

h1 {
  color: #007bff;
}

.nav-link {
  color: #f4f4f4 !important;
}

.container {
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
}

ul {
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.profile-card img {
  width: 150px; /* Set a fixed width */
  height: 150px; /* Set a fixed height */
  border-radius: 50%; /* To make the image round */
  object-fit: cover; /* This will cover the area, cropping the image if necessary */
  border: 1px solid #ccc; /* Optional: adds a border around the image */
  margin-bottom: 10px; /* Optional: adds some space between the image and the text below */
}

.custom-navbar {
  background-color: #0E0F2E; /* Replace #yourColorCode with the hex code of the color you want */
}

.custom-navbar .navbar-nav .nav-link,
.custom-navbar .navbar-brand {
  color: #ffffff; /* White color */
}

.custom-navbar .navbar-nav .nav-link:hover,
.custom-navbar .navbar-brand:hover {
  color: #ffffff; /* Light gray for hover state */
}